{% extends "layout.njk" %}

{% block head %}
  <title>Criar chef</title>

  {% include "../parts/styles.njk" %}
{% endblock %}

{% block header %}
  {% include "../parts/header.njk" %}
{% endblock %}

{% block content %}
  <main id="admin-create" class="container">
    <div class="header">
      <h2>Editando chef</h2>
      <div class="actions">
          <button type="submit" form="form-delete" class="button delete-button">Deletar</button>
          <button type="submit" form="form-edit" class="button action-button">Salvar chef</button>
      </div>
    </div>
    <form id="form-edit" action="/admin/chefs?_method=PUT" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="id" value="{{ chef.id }}">
      {% include "./fields.njk" %}
    </form>

    <form id="form-delete" action="/admin/chefs?_method=DELETE" method="POST">
      <input type="hidden" name="id" value="{{ chef.id }}">
    </form>
  </main>
{% endblock %}