<div class="input-container">
  <label for="name">Nome</label>
  <input type="text" name="name" id="name" value="{{ chef.name }}">
</div>

<div class="input-container">
  <label for="avatar_url">Avatar</label>
  {% if chef.avatar_url %}
    <input type="url" name="avatar_url" id="avatar_url" value="{{ chef.avatar_url }}" placeholder="http://">
  {% endif %}
  <div class="photos-upload">
    <label for="photo" class="button action-button">Enviar Avatar</label>
    <input type="file" name="photo" id="photo">
    <div class="photos-preview"></div>
  </div>
</div>

