<div class="input-container">
  <label for="name">Nome</label>
  <input type="text" name="name" id="name" value="{{ chef.name }}">
</div>

<div class="input-container">
  <label for="avatar_url">Avatar</label>
  {% if chef.avatar_url %}
    <input type="url" name="avatar_url" id="avatar_url" value="{{ chef.avatar_url }}" placeholder="http://" disabled>
  {% endif %}
  <div class="chef photos-upload">
    <label for="photo" class="button action-button">Enviar Avatar</label>
    <input type="file" name="photo" id="photo" accept="image/*" onchange="PhotosUpload.handleChefAvatar(event, 1)">
    <div id="photos-preview">
      {% if files %}
        {% for file in files %}
          <div class="photo" id="{{ file.id }}">
            <img src="{{ file.src }}" alt="{{ file.name }}">
            <span onclick="PhotosUpload.removeOldPhoto(event)">X</span>
          </div>
        {% endfor %}
        <input type="hidden" name="removed_files">
      {% endif %}
    </div>
  </div>
</div>