{% extends "layout.njk" %}

{% block head %}
  <title>Chefs</title>

  {% include "../parts/styles.njk" %}
{% endblock %}

{% block header %}
  {% include "../parts/header.njk" %}
{% endblock %}

{% block content %}
  <main id="admin-chefs" class="container">
    <div class="header">
      <h2>Gerencias chefs</h2>
    </div>

    <div class="chefs">
      {% for chef in chefs %}
        <div class="chef">
          <img src="{{ chef.image }}" alt="image de {{ chef.name }}">

          <div class="chef-info">
            <p>{{ chef.name }}</p>
            <a>Visualizar</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}