{% extends "layout.njk" %}

{% block head %}
  <title>{{ chef.name }}</title>

  {% include "../parts/styles.njk" %}
{% endblock %}

{% block header %}
  {% include "../parts/header.njk" %}
{% endblock %}

{% block content %}
  <main id="chef-show" class="container">
    <div class="header">
      <h2>Chef: {{ chef.name }}</h2>
      <div class="actions">
        <a href="/admin/chefs/{{ chef.id }}/edit" class="button action-button">Editar chef</a>
      </div>
    </div>

    <img src="{{ chef.avatar_url }}" alt="imagem de {{ chef.name }}">
    <h1 class="title">{{ chef.name }}</h1>
    <span class="author">
      {{ chef.total_recipes }}
      {% if chef.total_recipes > 1 %}
        receitas
      {% else %}
        receita
      {% endif %}
    </span>

    <section class="chef-recipes">
      <h2>Receitas</h2>

      <div class="recipes">
        {% for recipe in recipes %}
          <div class="recipe">
            <img src="{{ recipe.image }}" alt="image de {{ recipe.title }}">

            <div class="recipe-info">
              <p>{{ recipe.title }}</p>
              <span>por {{ recipe.chef_name }}</span>
              <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
{% endblock %}