{% extends "layout.njk" %}

{% block head %}
  <title>Criar receita</title>

  {% include "./parts/styles.njk" %}
{% endblock %}

{% block header %}
  {% include "./parts/header.njk" %}
{% endblock %}

{% block content %}
  <main id="admin-create" class="container">
    <div class="header">
      <h2>Criando receita</h2>
      <div class="actions">
          <input type="submit" value="Salvar receita">
      </div>
    </div>
    <form action="/admin/recipes" method="post">
      <div class="header">
      </div>
      {% include "admin/fields.njk" %}
    </form>
  </main>
{% endblock %}