<div class="input-container">
  <label for="img">Imagem da receita</label>
  <input type="url" name="image" id="img" placeholder="http://" value="{{ recipe.image }}">
</div>
<div class="input-container">
  <label for="ingredient">Ingredientes</label>
    <div class="ingredients">
      <div class="ingredient">
        {% if recipe %}
          {% for ingredient in recipe.ingredients %}
              <input type="text" name="ingredients[]" id="ingredient" value="{{ ingredient }}">
          {% endfor %}
        {% else %}
            <input type="text" name="ingredients[]" id="ingredient" value="{{ ingredient }}">
        {% endif %}
      </div>
    </div>
    <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>
<div class="input-container preparation">
  <label for="preparation">Modo de preparo</label>
    <div class="step">
      {% if recipe %}
        {% for step in recipe.preparation %}
            <input type="text" name="preparation[]" id="step" value="{{ step }}">
        {% endfor %}
      {% else %}
          <input type="text" name="preparation[]" id="step" value="{{ step }}">
      {% endif %}
    </div>
    <button type="button" class="add-step">Adicionar novo passo</button>
</div>
<div class="input-container">
  <label for="information">Informações adicionais</label>
  <textarea name="information" id="information" value="{{ recipe.information }}">
  </textarea>
</div>
