{% extends "admin/layout.njk" %}

{% block content %}
  <main id="admin-recipes">
    <h2>Gerencias receitas</h2>
    <div class="recipes">
      {% for recipe in recipes %}
        <div class="recipe">
          <img src="{{ recipe.image }}" alt="image de {{ recipe.title }}">
          <div class="recipe-info">
            <p>{{ recipe.title }}</p>
            <span>por {{ recipe.author }}</span>
            <a href="">Visualizar</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}