<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
    <title>Foodfy - Administrador</title>
  {% endblock %}
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/admin.css">
</head>
<body>
  <header>
    <nav>
      <a class="logo" href="/admin/recipes">
        <img src="/assets/white-logo.png" alt="Foodfy">
      </a>
    </nav>
  </header>
  
  {% block content %}
  {% endblock %}
</body>
</html>