{% extends "layout.njk" %}

{% block head %}
  <title>Criar usuário</title>

  {% include "../parts/styles.njk" %}
{% endblock %}

{% block header %}
  {% include "../parts/header.njk" %}
{% endblock %}

{% block content %}
  <main id="users-create" class="container">
    <div class="header">
      <h2>Criar Usuário</h2>
      <div class="actions">
          <button type="submit" form="form-create" class="button action-button">Salvar</button>
          <a href="/admin/users/list" class="button cancel-button">Cancelar</a>
      </div>
    </div>
    <form id="form-create" action="/admin/users/list" method="POST" enctype="multipart/form-data">
      <div class="input-wrapper">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" placeholder="Digite o nome completo" />
      </div>

      <div class="input-wrapper">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Digite o email"
          onblur="Validate.apply(this, 'isEmail')"
        >
      </div>

      <label class="check-wrapper">
        <input type="checkbox" name="admin" id="admin" />
        <span class="checkmark"></span>
        Administrador
      </label>
    </form>
  </main>
{% endblock %}