<header class="admin">
  <div class="container">
    <a class="logo" href="/admin/recipes">
      <img src="/assets/white-logo.png" alt="Foodfy">
    </a>

    <nav>
      <a href="/admin/recipes">receitas</a>
      <a href="/admin/chefs">chefs</a>
    </nav>
  </div>
</header>