header {
  margin-bottom: 50px;
  background-color: var(--color-text1);
}

header .container {
  display: grid;
  grid-template-columns: 141px 1fr;
  align-items: center;
  height: 80px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  margin-right: 30px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-text4);
}

header nav a:hover {
  color: #FFFFFF;
}

header nav a.active {
  color: #FFFFFF;
}

header nav a:last-child {
  margin-right: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}

.header h2 {
  line-height: 37px;
}

.header .actions {
  display: flex;
}

.header .actions :first-child {
  margin-right: 10px;
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.gallery .highlight {
  width: 100%;
}

.gallery .highlight img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 15px;
  cursor: zoom-in;
}

.gallery .gallery-preview {
  display: flex;
  column-gap: 10px;
  height: 50px;
}

.gallery .gallery-preview img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  opacity: 0.5;
  transition: 200ms;
  cursor: pointer;
}

.gallery .gallery-preview img:hover,
.gallery .gallery-preview img.active {
  opacity: 1;
}

.highlight .lightbox-target {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 100;
  background-color: #00000099;
  opacity: 0;
  visibility: hidden;
}

.highlight .lightbox-target.active {
  opacity: 1;
  visibility: visible;
}

.highlight .lightbox-target > img {
  width: 80vw;
  height: 80vh;
  object-fit: contain;
  background-color: #FFFFFF;
}

.highlight .lightbox-target .lightbox-close {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 50%;
  color: #DC4747;
  background-color: #FFFFFF;
}

main > h1 {
  margin-bottom: 4px;
  font-size: 36px;
  text-align: center;
}

main > span {
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
  color: var(--color-text3);
}

.information {
  margin-bottom: 40px;
}

.information:last-child {
  margin-bottom: 0;
}

.information h2 {
  margin-bottom: 20px;
}

.information ul,
.information ol {
  list-style-type: "- ";
}

.information li,
.information p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text2)
}

main#chef-show > img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 16px auto 30px;
  border-radius: 50%;
}

main#chef-show .chef-recipes h2 {
  margin-bottom: 30px;
}