header {
  position: relative;
  margin-bottom: 50px;
  background-color: var(--color-text1);
}

header .container {
  display: grid;
  grid-template-columns: 141px 1fr;
  align-items: center;
  height: 80px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  margin-right: 30px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-text4);
  transition: 200ms;
}

header nav a:hover {
  color: #FFFFFF;
}

header nav a.active {
  color: #FFFFFF;
}

header nav a:last-child {
  margin-right: 0;
}

header form {
  position: absolute;
  top: 30px;
  right: 50px;
  display: flex;
  gap: 50px;
}

header form a {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-text4);
  cursor: pointer;
  transition: 200ms;
}

header form a:hover {
  color: #FFFFFF;
}

header form button {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  color: var(--color-text4);
  background: none;
  cursor: pointer;
  transition: 200ms;
}

header form button:hover {
  color: #FFFFFF;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
}

.header h2 {
  line-height: 37px;
}

.header .actions {
  display: flex;
}

.header .actions :first-child {
  margin-right: 10px;
}

main > h1 {
  margin-bottom: 4px;
  font-size: 36px;
  text-align: center;
}

main > span {
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
  color: var(--color-text3);
}

.information {
  margin-bottom: 40px;
}

.information:last-child {
  margin-bottom: 0;
}

.information h2 {
  margin-bottom: 20px;
}

.information ul,
.information ol {
  list-style-type: "- ";
}

.information li,
.information p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text2)
}

main#chef-show > img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 16px auto 30px;
  border-radius: 50%;
}

main#chef-show .chef-recipes h2 {
  margin-bottom: 30px;
}