{% extends "../layout.njk" %}

{% block head %}
  <title>Foodfy - Chefs</title>

  {% include "./parts/styles.njk" %}
{% endblock %}

{% block header %}
  {% include "./parts/header.njk" %}
  
    </div>
  </header>
{% endblock %}

{% block content %}
  <main id="page-chefs" class="container">
    
  </main>
{% endblock %}

{% block footer %}
  {% include "./parts/footer.njk" %}
{% endblock %}