{% extends "../layout.njk" %}

{% block head %}
  <title>Foodfy - Chefs</title>

  {% include "./parts/styles.njk" %}
{% endblock %}

{% block header %}
  {% include "./parts/header.njk" %}
  
    </div>
  </header>
{% endblock %}

{% block content %}
  <main id="page-chefs" class="container">
    <div class="chefs-grid">
      {% for chef in chefs %}
        <div class="chef">
          <img src="{{ chef.avatar_url }}" alt="image de {{ chef.name }}">

          <div class="chef-info">
            <p>{{ chef.name }}</p>
            <span>
              {{ chef.total_recipes }}
              {% if chef.total_recipes > 1 %}
                receitas
              {% else %}
                receita
              {% endif %}
            </span>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}

{% block footer %}
  {% include "./parts/footer.njk" %}
{% endblock %}