{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - Receitas</title>

  {% include "./parts/styles.njk" %}
{% endblock %}

{% block header %}
  {% include "./parts/header.njk" %}
  
  {% include "./parts/search.njk" %}

    </div>
  </header>
{% endblock %}

{% block content %}
  <main id="page-recipes" class="container">
    <div class="header">
      <h2>Buscando por "{{ filter }}"</h2>
    </div>
    <div class="recipes-grid">
      {% for recipe in recipes %}
        <a class="recipe" href="/recipes/{{ recipe.id }}">
          <img src="{{ recipe.image }}" alt="image de {{ recipe.title }}">
          <p>{{ recipe.title }}</p>
          <span>por {{ recipe.chef_name }}</span>
        </a>
      {% endfor %}
    </div>
  </main>
{% endblock %}

{% block footer %}
  {% include "./parts/footer.njk" %}
{% endblock %}