<header class="admin">
  <div class="container">
    <a class="logo" href="/">
      <img src="/assets/white-logo.png" alt="Foodfy">
    </a>

    <nav>
      <a href="/admin/recipes">receitas</a>
      <a href="/admin/chefs">chefs</a>
      <a href="/admin/users">usuários</a>
    </nav>
  </div>

  {% if session.userId %}
    <form id="form-logout" action="/session/logout" method="POST">
      <a href="/admin/users/profile">Perfil</a>
      <button>sair</button>
    </form>
  {% endif %}
</header>