<div class="recipes">
  {% for recipe in recipes %}
    <div class="recipe">
      <img src="{{ recipe.image }}" alt="image de {{ recipe.title }}">

      <div class="recipe-info">
        <p>{{ recipe.title }}</p>
        <span>por {{ chefs[recipe.chef_id-1].name }}</span>
        <a>Visualizar</a>
      </div>
    </div>
  {% endfor %}
</div>