<header class="home">
  <div class="container">
    <a class="logo" href="/">
      <img src="/assets/logo.png" alt="Foodfy">
    </a>

    <nav>
      <a href="/about">Sobre</a>
      <a href="/recipes">Receitas</a>
      <a href="/chefs/list">Chefs</a>
    </nav>

    <div class="search">
      <input type="text" name="search">
      <button type="submit" class="button action-button">Buscar</button>
    </div>
  </div>
</header>