@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-text1: #111111;
  --color-text2: #444444;
  --color-text3: #777777;
  --color-text4: #999999;
  --color-banner: #FBDFDB;
  --color-delete: #DC4747;
  --color-spotlight: #6558C3;
  --color-background-body: #FDFDFF;
  --color-background-footer: #EDEDEE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-text1);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background-body);
  overflow-y: scroll;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

label {
  font-size: 16px;
  font-weight: 700;
}

ul, ol {
  list-style-position: inside;
}

main {
  flex: 1;
}

footer {
  margin-top: 50px;
  padding: 23px 0;
  text-align: center;
  background-color: var(--color-background-footer);
}

footer p {
  font-size: 14px;
  color: var(--color-text4);
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}

.recipes-grid .recipe {
  cursor: pointer;
}

.recipes-grid .recipe img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 15px;
}

.recipes-grid .recipe p {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text1);
}

.recipes-grid .recipe span {
  font-size: 14px;
  color: var(--color-text3);
}

.button {
  padding: 9px 20px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
}

.button:hover {
  filter: brightness(1.1);
}

.action-button {
  background-color: var(--color-spotlight);
}

.delete-button {
  background-color: var(--color-delete);
}