@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-text1: #111111;
  --color-text2: #444444;
  --color-text3: #777777;
  --color-text4: #999999;
  --color-banner: #FBDFDB;
  --color-delete: #DC4747;
  --color-success: #01B12A;
  --color-spotlight: #6558C3;
  --color-background-body: #FDFDFF;
  --color-background-footer: #EDEDEE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-text1);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background-body);
  overflow-y: scroll;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

label {
  font-size: 16px;
  font-weight: 700;
}

ul, ol {
  list-style-position: inside;
}

main {
  flex: 1;
  padding-bottom: 50px;
}

footer {
  padding: 23px 0;
  text-align: center;
  background-color: var(--color-background-footer);
}

footer p {
  font-size: 14px;
  color: var(--color-text4);
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}

.recipes-grid .recipe {
  cursor: pointer;
}

.recipes-grid .recipe img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 15px;
}

.recipes-grid .recipe p {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text1);
}

.recipes-grid .recipe span {
  font-size: 14px;
  color: var(--color-text3);
}

.button {
  padding: 9px 20px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
}

.button:hover {
  filter: brightness(1.1);
}

.action-button {
  background-color: var(--color-spotlight);
}

.delete-button {
  background-color: var(--color-delete);
}

.cancel-button {
  background-color: #8A8A8A;
}

.chefs-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}

.chefs-grid .chef {
  display: flex;
}

.chefs-grid .chef img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 50%;
}

.chef-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chef-info p {
  font-size: 18px;
  color: var(--color-text1);
}

.chef-info span {
  font-size: 14px;
  color: var(--color-text3);
}

.chef-info a {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-spotlight);
  cursor: pointer;
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.gallery .highlight {
  width: 100%;
}

.gallery .highlight img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 15px;
  cursor: zoom-in;
}

.gallery .gallery-preview {
  display: flex;
  column-gap: 10px;
  height: 50px;
}

.gallery .gallery-preview img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  opacity: 0.5;
  transition: 200ms;
  cursor: pointer;
}

.gallery .gallery-preview img:hover,
.gallery .gallery-preview img.active {
  opacity: 1;
}

.highlight .lightbox-target {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 100;
  background-color: #00000099;
  opacity: 0;
  visibility: hidden;
}

.highlight .lightbox-target.active {
  opacity: 1;
  visibility: visible;
}

.highlight .lightbox-target > img {
  width: 80vw;
  height: 80vh;
  object-fit: contain;
  background-color: #FFFFFF;
}

.highlight .lightbox-target .lightbox-close {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 50%;
  color: #DC4747;
  background-color: #FFFFFF;
}

#page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page-not-found a:hover {
  color: var(--color-spotlight);
}

/* Validate errors */
.input-wrapper .error {
  padding-top: 10px;
  padding-left: 20px;
  margin-top: -10px;
  border-radius: 4px;
  color: var(--color-background-body);
  background-color: var(--color-delete)
}

/* Alert Messages */
.messages {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 344px;
  height: 135px;
  border-radius: 4px;
  opacity: 1;
  overflow: hidden;
  animation: hideblock 5000ms ease-out forwards;
}

.messages.error {
  background-color: var(--color-delete);
}

.messages.success {
  background-color: var(--color-success);
}

@keyframes hideblock {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    width: 344px;
    height: 135px;
    opacity: 1;
  }
  95% {
    width: 344px;
    height: 135px;
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.messages p {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  opacity: 1;
  animation: hidemessage 5000ms ease-out forwards;
}

@keyframes hidemessage {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}