header nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 940px;
  height: 93px;
  margin: 0 auto;
}

header nav .logo {
  margin-right: 122px;
}

header nav a {
  margin-right: 30px;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text2);
}

header nav a:hover {
  font-weight: 500;
}

header nav a:last-child {
  margin-right: 0;
}

footer {
  padding: 23px 0;
  text-align: center;
  background-color: var(--color-background-footer);
}

footer p {
  font-size: 14px;
  color: var(--color-text4);
}

.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}

.recipe {
  cursor: pointer;
}

.recipe img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 15px;
}

.recipe p {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text2);
}

.recipe span {
  font-size: 14px;
  color: var(--color-author);
}

#page-home .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 366px;
  margin-bottom: 50px;
  padding: 60px;
  border-radius: 30px;
  background-color: var(--color-red1);
  background-image: url('../assets/chef.png');
  background-repeat: no-repeat;
  background-position: bottom right 100px;
}

#page-home .banner p {
  max-width: 320px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--color-text1);
}

#page-about p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text3);
}

#page-about p:last-child {
  margin-bottom: 0;
}

#page-recipe > img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  margin-bottom: 50px;
  border-radius: 15px;
}

#page-recipe h1 {
  font-size: 36px;
  margin-bottom: 4px;
  text-align: center;
}

#page-recipe > span {
  display: block;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: var(--color-author);
}

#page-recipe h2 span {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-text4);
  cursor: pointer;
}

#page-recipe .information {
  margin-bottom: 40px;
}

#page-recipe .information:last-child {
  margin-bottom: 0;
}

#page-recipe .information .data {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 200ms;
}

#page-recipe .information.show .data {
  max-height: 500px;
  opacity: 1;
}

#page-recipe .information li {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text3);
}

#page-recipe .information p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text3);
}