header {
  padding: 35px;
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 500px;
}

form .header {
  margin-bottom: 35px;
  text-align: center;
}

form .input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 35px;
}

form .input-wrapper label {
  font-size: 16px;
  margin-bottom: 10px;
}

form .input-wrapper input {
  padding: 15px;
  font-size: 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #DDDDDD;
}

form .buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form .buttons-wrapper a {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: #969696;
}

form .buttons-wrapper a::after {
  content: '';
  position: absolute;
  left: 50%;
  display: block;
  width: 0;
  height: 1px;
  background-color: #969696;
  transition: 200ms;
}

form .buttons-wrapper a:hover::after {
  width: 100%;
  left: 0;
}