@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
  --color-text1: #000000;
  --color-text2: #111111;
  --color-text3: #444444;
  --color-text4: #999999;
  --color-red1: #FBDFDB;
  --color-background: #FDFDFF;
  --color-author: #777777;
  --color-background-footer: #EEEEEE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg);
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

h1 {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
  color: var(--color-text2);
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  color: var(--color-text2);
}

h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text2);
}

ul, ol {
  list-style-position: inside;
}

#page-home,
#page-about,
#page-recipes,
#page-recipe {
  flex: 1;
  width: 100%;
  max-width: 940px;
  margin: 20px auto 50px;
}

header nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 940px;
  height: 93px;
  margin: 0 auto;
}

header nav .logo {
  margin-right: 122px;
}

header nav a {
  margin-right: 30px;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text2);
}

header nav a:hover {
  font-weight: 500;
}

header nav a:last-child {
  margin-right: 0;
}

footer {
  padding: 23px 0;
  text-align: center;
  background-color: var(--color-background-footer);
}

footer p {
  font-size: 14px;
  color: var(--color-text4);
}

.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}

.recipe {
  cursor: pointer;
}

.recipe img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 15px;
}

.recipe p {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text2);
}

.recipe span {
  font-size: 14px;
  color: var(--color-author);
}

#page-home .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 366px;
  margin-bottom: 50px;
  padding: 60px;
  border-radius: 30px;
  background-color: var(--color-red1);
  background-image: url('../assets/chef.png');
  background-repeat: no-repeat;
  background-position: bottom right 100px;
}

#page-home .banner p {
  max-width: 320px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--color-text1);
}

#page-about p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text3);
}

#page-about p:last-child {
  margin-bottom: 0;
}

#modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

#modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000099;
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

#modal-overlay .modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 660px;
  padding: 30px;
  border-radius: 16px;
  background-color: var(--color-background);
}

#modal-overlay .modal img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}

#modal-overlay .modal p {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text2);
}

#modal-overlay .modal span {
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-author);
}

#modal-overlay .modal a.close-modal {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text4);
  cursor: pointer;
}

#page-recipe > img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  margin-bottom: 50px;
  border-radius: 15px;
}

#page-recipe h1 {
  font-size: 36px;
  margin-bottom: 4px;
  text-align: center;
}

#page-recipe > span {
  display: block;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: var(--color-author);
}

#page-recipe h2 span {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-text4);
  cursor: pointer;
}

#page-recipe .information {
  margin-bottom: 40px;
}

#page-recipe .information:last-child {
  margin-bottom: 0;
}

#page-recipe .information .data {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 200ms;
}

#page-recipe .information.show .data {
  max-height: 500px;
  opacity: 1;
}

#page-recipe .information li {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text3);
}

#page-recipe .information p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text3);
}