{% extends "layout.njk" %}

{% block head %}
  <title>Criar receita</title>

  {% include "../parts/styles.njk" %}
{% endblock %}

{% block header %}
  {% include "../parts/header.njk" %}
{% endblock %}

{% block content %}
  <main id="admin-create" class="container">
    <div class="header">
      <h2>Criando receita</h2>
      <div class="actions">
          <button type="submit" form="form-create" class="button action-button">Salvar receita</button>
      </div>
    </div>
    <form id="form-create" action="/admin/recipes" method="POST" enctype="multipart/form-data">
      <div class="header">
      </div>
      {% include "./fields.njk" %}
    </form>
  </main>
{% endblock %}