{% extends "layout.njk" %}

{% block head %}
  <title>{{ recipe.title }}</title>

  {% include "../parts/styles.njk" %}
{% endblock %}

{% block header %}
  {% include "../parts/header.njk" %}
{% endblock %}

{% block content %}
  <main id="page-detail" class="container">
    <div class="header">
      <h2>Receita: {{ recipe.title }}</h2>
      <div class="actions">
        <a href="/admin/recipes/{{ recipe.id }}/edit" class="button action-button">Editar receita</a>
      </div>
    </div>

    <div class="gallery">
      <div class="highlight">
        {% if not files[0] %}
          <img src="http://placehold.it/1000x1000?text=RECEITA SEM FOTO" />
        {% else %}
          <img src="{{ files[0].src }}" alt="foto de {{ recipe.title }}">
        {% endif %}
      </div>
      <div class="gallery-preview">
        {% for file in files %}
          <img
            src="{{ file.src }}"
            alt="imagem de {{ file.name }}"
            {% if loop.index0 == 0 %}
              class="active"
            {% endif %}
            onclick="ImageGallery.setImage(event)"
          />
        {% endfor %}
      </div>
    </div>

    <h1 class="title">{{ recipe.title }}</h1>
    <span class="author">por {{ recipe.chef_name }}</span>

    <section class="information">
      <h2>Ingredientes</h2>
      <ul class="data">
        {% for ingredient in recipe.ingredients %}
          <li>{{ ingredient }}</li>
        {% endfor %}
      </ul>
    </section>
    <section class="information">
      <h2>Modo de preparo</h2>
      <ol class="data">
        {% for step in recipe.preparation %}
          <li>{{ step }}</li>
        {% endfor %}
      </ol>
    </section>
    <section class="information">
      <h2>Informações adicionais</h2>
      <p class="data">{{ recipe.information }}</p>
    </section>
  </main>
{% endblock %}