{% extends "layout.njk" %}

{% block head %}
  <title>Receitas</title>

  {% include "../parts/styles.njk" %}
{% endblock %}

{% block header %}
  {% include "../parts/header.njk" %}
{% endblock %}

{% block content %}
  <main id="admin-recipes" class="container">
    <div class="header">
      <h2>Gerencias receitas</h2>
      <a href="/admin/recipes/create" class="button action-button">Nova Receita</a>
    </div>

    {% include "../parts/recipes.njk" %}
  </main>
{% endblock %}